.login-container{
    background-color: white;
    width: 250px;
    height: 310px;
    margin: auto;
    margin-top: 190px;
    padding: 30px;
    border-radius: 5px;
        
}
.login-container h2{
    color: #a706ac;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login-container .login-btn{
    background-color: #b420e6;
    color: white;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 55px;
 
}
.login-container input{
    width: 100%;
    height: 20px;
    
}
.login-container p{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login-container a{
    text-decoration: none;
    margin-left: 70px;
    color: #8206AC;
}
.signup{
    text-align: center;
}
.signup a{
    margin-left: -1px;
}
.dropdown select {
  width: 102%;
  padding: 5px; 
  box-sizing: border-box; 
  background-color: rgb(185, 185, 185);

}


                /* sign up */

.signup-container{
    background-color: white;
    width: 280px;
    height: 425px;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
    border-radius: 5px;
        
}
.signup-container h2{
    color: #a706ac;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.signup-container input[type="submit"]{
    background-color: #b420e6;
    color: white;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 55px;
 
}
.signup-container input{
    width: 100%;
    height: 20px;
    
}
.signup-container p{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.signup-container a{
    text-decoration: none;
    margin-left: 70px;
    color: #8206AC;
}
.signup1{
    text-align: center;
}
.signup1 a{
    margin-left: 5px;
}