.calc{
    width: 510px;
    height: 560px;
    border: 1px solid;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.buttons{
    
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: repeat(5, 70px);    /*we can divide rows and colums using these 2 ways */
    padding: 8px;
 
}
.buttons button{
    width: 60px;
    height: 60px;
    color: white;
    background-color: #333;
    border-radius: 10px;
    font-size: large;
}
.plusbtn {
    grid-row: span 2;
}

.plusbtn button{
        height: 130px;
}

.btnclr button{
    background-color: rgb(179, 179, 179);
}
.head{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    
    
}
.head p{
    font-size: small;
}
.display{
    background-color: #6e6d6d;
    width: 85%;
    height: 70px;
    margin-left: 20px;
    border: 10px solid;
    border-color: rgb(191, 194, 196);
    border-radius: 10px;
    margin-top: -15px;
    
}
.display p{
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    font-size: xx-large;
}
.head2 p{
    color: white;
}
.head2{
    display: flex;
    justify-content: space-around;
}
.dummy button{
    font-size: xx-small;
    text-align: center;
    height: 40px;
    width: 60px;
}
.buttons button:active{
    font-size: 17px;
    font-weight: bolder;
}
.hidebtn{
        grid-column: span 3;
}
.hidebtn button{
    width: 180px;
    height: 40px;
    background-color: #cf873462;

}